<header class="chuck_header">
  <a [routerLink]="['/']"><img src="../../assets/dribbble_chuck.jpg"></a>
  <nav class="navigation_links">
    <ul>
      <li [routerLink]="['/']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="chuck-active">Chuck Home</li>
      <li [routerLink]="['/random']" routerLinkActive="chuck-active">
        Chuck Quotes Generator
      </li>
      <li [routerLink]="['/categories']" routerLinkActive="chuck-active">
        Chuck Categories
      </li>
    </ul>
  </nav>
</header>
